# FERPEK Server

# Port exposed by the FERPEK Server container.
FERPEK_PORT=8000

# Development only.
# Used by the Vite development server to proxy API requests.
FERPEK_DEV_API_URL=http://127.0.0.1:8000

# FERPEK Pack Registry
PACK_REGISTRY_URL=https://raw.githubusercontent.com/ferpekdev/ferpek-lens-packs/main/index.json
